<!DOCTYPE html>
<html>
<head>
    <title>3MW - Application Task</title>
    <meta name="viewport" content="width=520, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</head>
<body>

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active" role="presentation" >
                        <a href="/sites">Sites</a>
                </li>
                <li role="presentation" >
                        <a href="/summary">Summary</a>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
      </nav>



    <div class="container">
        <h1>Sites</h1>

        <ul class="list-group">

            {% for site in sites %}
                <li class="list-group-item"><a href="/sites/{{ site.id }}">{{ site.site_name }}</a></li>
            {% endfor %}

        </ul>
    </div>


</body>
</html>